/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/layout.css";
@import "lib/forms.css";
@import "lib/plugins.css";

/* Site
-------------------------------------------------------------- */

@font-face {
  font-family: "Doctor Who";
  src: url("/font/doctor_who.woff");
}
  
  /* Put your site styles here */
body {
  background-image: url(/img/roundel-grey.png);
  background-attachment: fixed;
}

#header {
  -moz-border-radius: 5px;
}

.entry {
  -moz-border-radius: 5px;
}

#footer {
  -moz-border-radius: 5px;
}

h1 {
  font-family: "Doctor Who";
  font-size: 8em;
  text-transform: uppercase;
  margin-bottom: 0;
  text-shadow: #000000 0 0 20px;
  color: #ccc;
}

#header p {
  font-family: "Doctor Who";
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: #000000 0 0 2px;
  color: #ccc;
}
