@font-face {
  font-family: "Doctor Who";
  src: url("/font/doctor_who.woff");
}
  
  /* Put your site styles here */
body {
  background-image: url(/img/roundel-grey.png);
  background-attachment: fixed;
}

.panel-heading h2 {
  / *font-family: "Doctor Who"; */
  /* font-size: 8em; */
  /* text-transform: uppercase; */
  margin-bottom: 0;
  /* text-shadow: #000000 0 0 2px; */
  color: #ccc;
}

#header p {
  font-family: "Doctor Who";
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: #000000 0 0 2px;
  color: #ccc;
}
