@font-face {
  font-family: "Doctor Who";
  src: url("/font/doctor_who.woff");
}
  
  /* Put your site styles here */
body {
  background-image: url(/img/roundel-grey.png);
  background-attachment: fixed;
}

.panel-heading h2 {
  / *font-family: "Doctor Who"; */
  /* font-size: 8em; */
  /* text-transform: uppercase; */
  margin-bottom: 0;
  /* text-shadow: #000000 0 0 2px; */
  color: #ccc;
}

#header p {
  font-family: "Doctor Who";
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: #000000 0 0 2px;
  color: #ccc;
}


a {
    font-weight: 450;
    text-decoration: none;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(230, 230, 230, 0.8);
    background-clip: border-box;
    border: 1px solid rgba(168, 168, 168, 0.125);
    border-radius: 0.5rem;
}
